IS_11.json
{
  "name": "My workflow 2_bez",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        0
      ],
      "id": "b8ea4806-f0d4-4b41-bb5a-404a40e9b852",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=http://212.237.219.35:8080/students/11/cms/spares",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount}}"
                  }
                ]
              },
              "requestInterval": 100
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        0
      ],
      "id": "11c5ef2c-9829-4b88-b8ee-9e66be278edd",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Получаем входные данные — массив объектов\nconst items = $input.all();\n\n// Преобразуем каждый объект в строку 'значение1;значение2;...;значениеN'\nconst lines = items.map(i => {\n  const obj = i.json;\n  const keys = Object.keys(obj);\n  const values = keys.map(k => {\n    const val = obj[k];\n    return val !== null && val !== undefined ? String(val) : '';\n  });\n  return values.join(';');\n});\n\n// Возвращаем единый объект, где все строки объединены через перенос строки\nreturn [{ json: { result: lines.join('\\n') } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -96
      ],
      "id": "b05f8100-c411-4114-adcd-89fb0f70e76a",
      "name": "Code in JavaScript4",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://212.237.219.35:8080/students/11/report/csv",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/csv",
        "body": "={{ $json.result }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -96
      ],
      "id": "89936b08-6c68-4788-b141-d7682d22012d",
      "name": "HTTP Request2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hg3ei1pkUHChMLFH",
          "mode": "list",
          "cachedResultName": "integrity_11_Period_1",
          "cachedResultUrl": "/projects/8bm2aCwr2WkBdq0c/datatables/hg3ei1pkUHChMLFH"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        64,
        -272
      ],
      "id": "8649d906-373d-435d-90a3-f9ed9f5cb299",
      "name": "Get row(s)",
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Получаем все входные элементы (items)\nconst items = $input.all();\n// Возвращаем массив новых объектов с \"разобранным\" value\nreturn items.map(i => {\n  const obj = JSON.parse(i.json.value);\n  return {json: obj};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -272
      ],
      "id": "e26c2d05-91a8-44eb-bf14-907c32c53a9f",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\n\n// Превращаем объект в JSON‑строку\nconst jsonAsString = JSON.stringify(item);\n\n// Возвращаем как одно текстовое значение\nreturn [{ json: { rawJson: jsonAsString } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        512
      ],
      "id": "1cc234fb-7046-4796-af09-31a0c271f685",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1856,
        192
      ],
      "id": "526b10c3-4e50-4a86-9ee7-833795f165bb",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "hg3ei1pkUHChMLFH",
          "mode": "list",
          "cachedResultName": "integrity_11_Period_1",
          "cachedResultUrl": "/projects/8bm2aCwr2WkBdq0c/datatables/hg3ei1pkUHChMLFH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "value": "={{ $json.rawJson }}"
          },
          "matchingColumns": [
            "value"
          ],
          "schema": [
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2480,
        176
      ],
      "id": "984126b1-4378-4a3f-bb65-fa714bbe2210",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "hg3ei1pkUHChMLFH",
          "mode": "list",
          "cachedResultName": "integrity_11_Period_1",
          "cachedResultUrl": "/projects/8bm2aCwr2WkBdq0c/datatables/hg3ei1pkUHChMLFH"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "value",
              "keyValue": "={{ $json.rawJson }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2176,
        176
      ],
      "id": "b1b01308-0b52-475e-9888-7cee43fbd41f",
      "name": "If row does not exist",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1536,
        192
      ],
      "id": "3bcbf0bf-5d96-4a3e-b449-09716bf700ed",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all(); // Получаем все элементы input\n\nconst unique = [];\nconst seen = new Set();\n\ndata.forEach(item => {\n  const str = JSON.stringify(item.json.spareCode); // Сравниваем именно по содержимому\n  if (!seen.has(str)) {\n    seen.add(str);\n    unique.push(item.json); // Сохраняем только уникальные данные\n  }\n});\n\nreturn unique.map(el => ({ json: el }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -96
      ],
      "id": "e9faf290-d246-4273-94ec-6722612d2810",
      "name": "Code in JavaScript1",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        -96
      ],
      "id": "902e0f84-0cc6-4264-8d81-3373547402b7",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c1b6687-de23-42a1-8602-6a9c0a254860",
  "meta": {
    "instanceId": "d750a1162f3d8ff592851018eed61254b3c291f726e7aec6817c78203a63f623"
  },
  "id": "c1R1nen1mqCLpygj",
  "tags": []
}